<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musescore Converter</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/update.js" defer></script>
</head>

<body>

    <h1>Musescore Converter</h1>

    <div class="status-container">
        <div class="status-circle" id="status-circle"></div>
        <span class="status-message" id="status-message">Inactive</span>
        <!-- <button class="button" onclick="toggleStatus()">Set Active</button> -->
    </div>

    <div class="scores-container"></div>

    <!-- <script>
        function toggleStatus() {
            const statusCircle = document.getElementById("status-circle");
            const statusMessage = document.getElementById("status-message");

            if (statusMessage.textContent === "Inactive") {
                statusMessage.textContent = "Active";
                statusCircle.style.background = "#4CAF50"; // Green when active
            } else {
                statusMessage.textContent = "Inactive";
                statusCircle.style.background = "#bbb"; // Gray when inactive
            }
        }
    </script> -->

</body>

</html>